body {
  background-color: #0b132b; /* Navy Blue */
  color: #eaeaea;
}

.navbar {
  background-color: #3a506b !important;
}

.card {
  background-color: #1c2541;
  color: #eaeaea;
  border: none;
}

.card-title {
  color: #ffffff;
}

.text-muted {
  color: #cbd5e1 !important;
}

.btn-primary {
  background-color: #5bc0be;
  border: none;
}

.btn-primary:hover {
  background-color: #6fffe9;
  color: #000;
}

a {
  color: #6fffe9;
}

a:hover {
  color: #ffffff;
}
